<h1>Listing recipes</h1>

<table>
  <thead>
    <tr>
      <th>Instructions</th>
      <th>Image file name</th>
      <th>Image content type</th>
      <th>Image file size</th>
      <th>Image updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.instructions %></td>
        <td><%= recipe.image_file_name %></td>
        <td><%= image_tag recipe.image.url(:thumb) %></td>
        <td><%= recipe.image_file_size %></td>
        <td><%= recipe.image_updated_at %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
