  <div id="notice"><%= notice %></div>

  <div class="row">
    <div class="span2">
      <%= @recipe.name %>
    </div>
  </div>
  <div class="row">
    <div class="offset1 span16">
      <%= image_tag(@recipe.image.url(:medium)) %>
    </div>
  </div>
  <div class="row">
    <div class="offset1 span8 ">
      <strong>Instructions:</strong>
      <%= @recipe.instructions %>
    </div>

    <div class="span8 product_list">
      <% @recipe.products_for_recipe.each do |rp| %>
        <%= link_to "#{rp.product.name}", rp.product %> <%= "#{rp.quantity}  grams" %> <br>
      <% end %>
    </div>
  </div>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
