<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @product.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @product.fat %>
</p>

<p>
  <strong>Fiber:</strong>
  <%= @product.fiber %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @product.calories %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @product.image_file_name %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @product.image_content_type %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @product.image_file_size %>
</p>

<p>
  <strong>Image updated at:</strong>
  <%= @product.image_updated_at %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>
