
  <div id="notice"><%= notice %></div>

  <div class="row">
    <div class="span2">
      <%= @product.name %>
    </div>
  </div>
  <div class="row">
    <div class="offset1 span8">
      <%= image_tag(@product.image.url(:medium)) %>
    </div>
    <div class="span8 product_list">
            Protein: <%= @product.protein %> <br> 
            Calories: <%= @product.calories %> <br>
            Carbonhidrates: <%= @product.carbs %> 
            Fat: <%= @product.fat %>       
    </div>

  </div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>
